.App {
  text-align: left;
}

.App-header {
  background-color: rgb(106, 216, 67);
  height: 50px;
  padding: 20px;
  padding-top: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-content {
  margin-left: 10px;
}

button {
  margin-top: 10px;
}
