@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold');

.App {
  text-align: left;
  text-decoration: none;
  background-color: rgb(224, 224, 224);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-content {
  margin: 5vh 10vw 0px 10vw;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.buttons {
  text-align: center;
}
